/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables */
html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --paragraphs-color: hsla(0, 0%, 100%, 0.75);
    --light-color: hsl(0, 0%, 95%);
    --primary-fonmt: 'Lexend Deca', sans-serif;;
    --secoundary-font: 'Big Shoulders Display', cursive;
}

/* utilitis */
.container {
    max-width: 345px;
    margin: 0 auto;
}

.bg-orange {
    background-color: var(--orange);
}
.bg-cyan {
    background-color: var(--cyan);
}
.bg-dark-cyan {
    background-color: var(--dark-cyan);
}
.bg-light{
    background-color: var(--light-color);
}
.orange{
    color: var(--orange);
}
.cyan{
    color: var(--cyan);
}
.dark-cyan{
    color: var(--dark-cyan);
}
.light{
    color: var(--light-color);
}
.primary-font{
    font-family: var(--primary-font);
}
.secoundary-font{
    font-family: var(--secoundary-font);
}

.content{
    margin-top: 100px;
}

body {
    font-size: 15px;
}

/* cards */
.cards {
    width: 100%;
}
/* card */
.card {
    width: 100%;
    padding: 40px;
}

.card .icon {
    padding: 20px 0;
}

.card h2 { 
    display: inline-block;
    margin: 20px 0;
    text-transform: uppercase;
}

.card p{ 
    padding: 20px 0; 
}

.btn {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px;
}
/* footer */
footer {
    position: relative;
    /* width: 100%; */
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }