/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilitis */
.container {
    max-width: 345px;
    margin: 0 auto;
}

.content{
    margin-top: 200px;
}

.cards {
    width: 100%;
}

.card {
    width: 100%;
}
/* footer */
footer {
    position: relative;
    /* width: 100%; */
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }